.progress-spinner {
  z-index: -1;
  margin: 0 10px;
}

.mat-h3 {
  z-index: 9;
  font-size: x-large;
  background-color: white;
  margin-top: -65px;
  margin-left: 40px;
  box-shadow: 2px 2px 4px #707070
}

.currency-text {
  padding: 8px;
}
